html, body {
  scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow: auto; /* Allow scrolling */
}

#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */
.app-container {
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll; */
  height: 100vh; /* Full-screen height for each section */
  width: auto;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: transform 0.8s ease-in-out; /* Slows down the snapping */
}


.home-section {
  background-color: #f0f8ff; /* Example background color */
  text-align: center;
}

.portfolio-section {
  background-color: #f9f9f9; /* Different background for distinction */
  text-align: center;
}
